
body {
    background-color: #edebe2;
    padding: 0;
    margin: 0;
    background-image: url("../profilepicture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
}


h1 {
    color: #85D2D0;
    font-family: 'Fuggles', cursive;
    font-size: 100px;
    font-size: 20vw;
}


h2 {
    color: #B9B7BD;
    font-family: 'Kirang Haerang', cursive;
    font-size: 60px;
    font-size: 8vw;
}

#startDiv {
    margin: auto;
    text-align: center;      
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}


#skillDiv {
    width: 100%;
    text-align: center;
    background-color: cadetblue;
}

